<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <h1>Welcome to Flavid</h1>
      <p>Enter a url to start learning!</p>
      <%= simple_form_for @translation do |f| %>
        <%= f.input :url, label: false, placeholder: 'Example: https://www.youtube.com/watch?v=k34EJF923' %>
        <%= f.button :submit, class: 'btn btn-primary', value: 'Convert!' %>
      <% end %>
      <div class="mt-5">
        <h2>Past convertions</h2>
        <ul class="list-group">
        <% Translation.all.each do |t| %>
          <%= link_to translation_path(t), class: 'text-decoration-none' do %>
          <li class="list-group-item mb-1"><%= t.video_title %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
